<!-- ADVICE ON DRAFT FOR BOTH SIDES -->
<div class="flex flex-col md:flex-row justify-between text-gray-200">
  <div class="p-4 bg-blue-600 rounded-lg mb-8">
    <h2 class="mb-2 text-xl">Blue Side</h2>
    <ul>
      <li *ngFor="let item of blueSideAdvice()" class="mb-1">
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="md:text-right p-4 bg-red-600 rounded-lg mb-8">
    <h2 class="mb-2 text-xl">Red Side</h2>
    <ul>
      <li *ngFor="let item of redSideAdvice()" class="mb-1">
        {{ item }}
      </li>
    </ul>
  </div>
</div>
