<div class="container" click-stop-propagation *ngIf="nation">
  <div class="header">
    <div class="name-row">
      <div class="nation">
        <img class="nation-flag" [src]="nation.logo" [alt]="nation.name" />
        <h2>
          {{ nation.name.length > 9 && screenWidth < 450 ? nation.abbreviation.toLocaleUpperCase() : nation.name }}
        </h2>
      </div>
      <fa-icon icon="xmark" class="exit-button" (click)="changeSelectedNation()"></fa-icon>
    </div>

    <div class="stats-row">
      <div class="left-side">
        <div class="first">
          <span>Rank</span>
          <h3>{{ nation.ranking }}</h3>
        </div>
        <div>
          <span>ATT</span>
          <h3>{{ nation.attRanking }}</h3>
        </div>
        <div>
          <span>MID</span>
          <h3>{{ nation.midRanking }}</h3>
        </div>
        <div>
          <span>DEF</span>
          <h3>{{ nation.defRanking }}</h3>
        </div>
      </div>
      <div class="right-side">
        <div>
          <span>POT</span>
          <h3>{{ nation.pot ?? 'N/A' }}</h3>
        </div>
        <div>
          <span>Region</span>
          <h3>{{ nation.region.toLocaleUpperCase() }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="flex-container">
      <ul class="matches">
        <h3>Match History</h3>
        <li *ngFor="let stage of nation.matchHistory | keyvalue: originalOrder; let i = index" class="match-stages">
          <span *ngIf="stage.value.length > 0" class="match-stages">{{ stages[i].heading }}</span>
          <div *ngFor="let item of stage.value; let j = index" class="match-row">
            <span *ngIf="stages[i].prop === 'bracket'" class="round">{{ rounds[j] }}</span>
            <img
              class="nation-flag"
              [src]="item.match.winner.logo"
              [alt]="item.match.winner.name"
              (click)="changeSelectedNation(item.match.winner)"
              [ngClass]="item.match.winner.name === nation.name ? 'disabled' : ''" />
            <span class="team-name"
              >{{ item.match.winner.name }}
              {{
                item.match.penaltyWin && stages[i].prop !== 'group' ? '(P)' : item.match.etWin && stages[i].prop !== 'group' ? '(AET)' : ''
              }}</span
            >
            <span class="score">{{ item.match.score }}</span>
            <img
              class="nation-flag"
              [src]="item.match.loser.logo"
              [alt]="item.match.loser.name"
              (click)="changeSelectedNation(item.match.loser)"
              [ngClass]="item.match.loser.name === nation.name ? 'disabled' : ''" />
            <span class="team-name">{{ item.match.loser.name }}</span>
          </div>
        </li>
      </ul>
      <ul class="report-card" *ngIf="nation.reportCard">
        <h3>Performance Grade</h3>
        <li [ngClass]="['grade', nation.reportCard.gradeStyle]">
          {{ nation.reportCard.grade }} - {{ nation.reportCard.tournamentFinish }}
        </li>
        <span>{{ nation.reportCard.gradeSummary }}</span>
      </ul>
    </div>
  </div>
</div>
