:host {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: visible;
    .container {
      transform: translateY(0);
    }
  }
}

h3 {
  font-family: 'aeonik-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 50vw;
  padding: 10px;
  background-color: #4F4F4F;
  color: white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  .header {
    padding: 10px;
    display: flex;
    align-items: center;
    > * {
      margin-right: min(3vw, 50px);
    }

    .nation-flag {
      width: 5rem;
    }

    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 2rem;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #ddd;
    min-height: 400px;

    .stats {
      display: flex;
      justify-content: space-around;
      span {
        text-transform: uppercase;
      }
    }
    .flex-container {
      padding: 10px;
      display: flex;
      flex-flow: row wrap;
    }
    .report-card {
      margin: 10px;
      > * {
        margin-bottom: 10px;
        display: block;
      }
      span {
        font-style: italic;
      }
      .grade {
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }
    .matches {
      display: flex;
      flex-direction: column;
      margin: 10px;
      .match-stages {
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .match {
        display: flex;
        padding: 10px 0;
        align-items: center;
        text-transform: capitalize;
        span {
          margin-right: min(4vw, 50px);
        }
        .team-name {
          width: 6rem;
        }
        .score {
          width: 2rem;
        }
        .round {
          width: 5rem;
        }
        .nation-flag {
          width: 2.5rem;
          height: 1.5rem;
          margin-right: 5px;
        }
      }
    }


  }
}
