<div class="flex flex-col items-center">
  <!-- DRAFT FORM -->
  <form class="flex flex-col w-full max-w-96 sm:w-2/5" [formGroup]="draftForm" *ngIf="!draftStarted">
    <label class="form-control w-full max-w-xs m-2 self-center">
      <div class="label">
        <span class="label-text">Selected Patch</span>
      </div>
      <select class="select select-bordered" formControlName="patchVersion">
        <option selected>MSI 24</option>
      </select>
    </label>

    <div class="form-control">
      <label class="label cursor-pointer flex justify-center">
        <span class="label-text">Blue Side</span>
        <input type="checkbox" class="toggle mx-2" formControlName="isRedSide" />
        <span class="label-text">Red Side</span>
      </label>
    </div>

    <div class="form-control">
      <label class="label cursor-pointer flex justify-center">
        <span class="label-text">PvP</span>
        <input type="checkbox" class="toggle mx-2" formControlName="useAiOpponent" />
        <span class="label-text">PvE</span>
      </label>
    </div>

    <button class="btn btn-primary" (click)="startDraft()" type="button">Start Draft</button>
  </form>

  <!-- DRAFT INTERFACE -->
  <div *ngIf="draftStarted">
    <h1 class="text-center text-2xl mb-4">{{ draftPhase }}</h1>

    <!-- BAN DASHBOARD -->
    <div class="flex">
      <ul class="flex">
        <li *ngFor="let champ of blueSideBans()" class="mx-2">
          <div class="avatar placeholder" *ngIf="champ?.isPlaceholder">
            <div class="w-12 rounded bg-blue-500 text-neutral-content">
              <span class="text-2xl">{{ champ.name }}</span>
            </div>
          </div>
          <div class="avatar" *ngIf="!champ?.isPlaceholder">
            <div class="w-12 rounded">
              <img [src]="champ.img" />
            </div>
          </div>
        </li>
      </ul>
      <label class="input input-bordered flex items-center gap-2 flex-1">
        <input type="text" class="grow" placeholder="Search" [formControl]="searchControl" id="searchControl" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      </label>
      <ul class="flex">
        <li *ngFor="let champ of redSideBans()" class="mx-2">
          <div class="avatar placeholder" *ngIf="champ?.isPlaceholder">
            <div class="w-12 rounded bg-red-500 text-neutral-content">
              <span class="text-2xl">{{ champ.name }}</span>
            </div>
          </div>
          <div class="avatar" *ngIf="!champ?.isPlaceholder">
            <div class="w-12 rounded">
              <img [src]="champ.img" />
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Selected Champs and Table -->
    <div class="flex my-8 gap-4">
      <!-- BLUE SIDE -->
      <ul class="flex flex-col">
        <li *ngFor="let champ of blueSideChamps()" class="my-4">
          <div class="relative" *ngIf="champ?.isPlaceholder">
            <div class="w-24 h-24 rounded bg-blue-500 text-neutral-content items-center justify-center flex">
              <span class="text-2xl">{{ champ.name }}</span>
            </div>
            <div class="absolute inset-0 flex items-end rounded overflow-hidden">
              <!-- Overlay content -->
              <ul class="flex" *ngIf="champ.name">
                <li *ngFor="let c of getTopChamps(champ.name, true)" class="h-6">
                  <img [src]="c.img" class="h-full w-full object-cover" />
                </li>
              </ul>
            </div>
          </div>
          <div class="avatar" *ngIf="!champ?.isPlaceholder">
            <div class="relative w-24 rounded">
              <img [src]="champ.img" class="w-full" />
              <div class="absolute inset-0 flex items-end justify-start rounded" *ngIf="champ.roles?.length || 4 < 3">
                <!-- Overlay content -->
                <ul class="flex">
                  <li *ngFor="let role of champ.roles" class="h-8">
                    <img [src]="'assets/images/role_icons/' + role + '.webp'" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- TABLE -->
      <div class="overflow-x-auto max-h-[68vh] flex-1">
        <table class="table table-pin-rows table-zebra">
          <thead>
            <tr>
              <th *ngFor="let header of headers">
                <div>
                  <span class="cursor-pointer">{{
                    draftPhase.includes('Ban') && header.name === 'Score' ? 'Ban Score' : header.name
                  }}</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let champ of filteredChampions()" class="hover cursor-pointer" (click)="chooseChampion(champ)">
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="rounded w-12">
                      <img [src]="champ.img" [alt]="champ.name" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ champ.name }}</div>
                    <!-- <div class="text-sm opacity-50">United States</div> -->
                  </div>
                  <ul class="flex">
                    <li *ngFor="let role of champ.roles" class="flex flex-col items-center w-8">
                      <img [src]="'assets/images/role_icons/' + role + '.webp'" />
                      <span *ngIf="champ.roles.length > 1" class="text-xs">{{ getLetterRank(getMetaScore(champ, role)) }}</span>
                    </li>
                  </ul>
                </div>
              </td>
              <td>{{ getLetterRank(getPickScore(champ)) }}</td>
              <td>{{ getLetterRank(getMetaScore(champ)) }}</td>
              <td>{{ getLetterRank(getMasteryScore(champ)) }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- RED SIDE -->
      <ul class="flex flex-col">
        <li *ngFor="let champ of redSideChamps()" class="my-4">
          <div class="relative" *ngIf="champ?.isPlaceholder">
            <div class="w-24 h-24 rounded bg-red-500 text-neutral-content items-center justify-center flex">
              <span class="text-2xl">{{ champ.name }}</span>
            </div>
            <div class="absolute inset-0 flex items-end rounded overflow-hidden">
              <!-- Overlay content -->
              <ul class="flex" *ngIf="champ.name">
                <li *ngFor="let c of getTopChamps(champ.name, false)" class="h-6">
                  <img [src]="c.img" class="h-full w-full object-cover" />
                </li>
              </ul>
            </div>
          </div>
          <div class="avatar" *ngIf="!champ?.isPlaceholder">
            <div class="relative w-24 rounded">
              <img [src]="champ.img" class="w-full" />
              <div class="absolute inset-0 flex items-end rounded" *ngIf="champ.roles?.length || 4 < 3">
                <!-- Overlay content -->
                <ul class="flex">
                  <li *ngFor="let role of champ.roles" class="h-8">
                    <img [src]="'assets/images/role_icons/' + role + '.webp'" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- ADVICE ON DRAFT FOR BOTH SIDES -->
    <div class="flex">
      <!-- BLUE SIDE -->
      <div>
        <h2>Blue Side</h2>
        <ul>
          <li *ngFor="let item of getCompositionAdvice('blue')">
            {{ item }}
          </li>
        </ul>
      </div>
      <!-- RED SIDE -->
      <div>
        <h2>Red Side</h2>
        <ul>
          <li *ngFor="let item of getCompositionAdvice('blue')">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
