<header class="header header--mobile">
  <nav class="nav-bar">
    <a routerLink="/" class="logo logo--ripple">
      <span class="logo__title">FB Sim</span>
    </a>
    <div class="nav-bar__menu-button">
      <fa-icon icon="bars" (click)="navToggle = !navToggle"></fa-icon>
    </div>
  </nav>
  <ul class="nav-list" *ngIf="navToggle">
    <a routerLink="/simulation" class="nav-list__link nav-list__link--ripple"> Simulation </a>
    <a routerLink="/leaderboard" class="nav-list__link nav-list__link--ripple">Leaderboards</a>
    <a (click)="auth.signOut()" *ngIf="auth.user$ | async as user; else login" class="nav-list__link nav-list__link--ripple">Logout</a>
    <ng-template #login>
      <a routerLink="/login" class="nav-list__link nav-list__link--ripple">Login</a>
    </ng-template>
  </ul>
</header>
<header class="header header--desktop">
  <nav class="nav-bar">
    <a routerLink="/" class="logo logo--ripple">
      <span class="logo__title">FB Sim</span>
    </a>
    <span class="nav-bar__nav-spacer"></span>
    <a routerLink="/simulation" class="nav-bar__link nav-bar__link--ripple">Simulation</a>
    <a routerLink="/leaderboard" class="nav-bar__link nav-bar__link--ripple">Leaderboards</a>
    <a (click)="auth.signOut()" *ngIf="auth.user$ | async; else login" class="nav-bar__link nav-bar__link--ripple">Logout</a>
    <ng-template #login>
      <a routerLink="/login" class="nav-bar__link nav-bar__link--ripple">Login</a>
    </ng-template>
  </nav>
</header>
