// @import '../../themes.scss';

button {
    cursor: pointer;
}

.desktop {
    display: none;
}
@media screen and (min-width: 800px) {
    .mobile {
        display: none;
    }
    header.desktop {
        display: block;
    }
    td.desktop, 
    th.desktop {
        display: table-cell;
    }
}

header.desktop a{
    padding: 0 1rem;
    color: white;
}

.login-overlay {
    background-color: #3F51B5;
    border: 1px solid whitesmoke;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 1.5rem;
    float: right;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 800px) {
        width: 25rem;
    }
    input {
        color: white;
    }

    .exit-container {
        display: flex;
        justify-content: flex-end;
        button {
            display: flex;
            justify-content: center;
            min-width: 2.5rem;
            width: auto;
            padding: 0;
        }
    }
    .login-button {
        background-color: white;
    }
}
.load-roster-overlay {
    background-color: #3F51B5;
    border: 1px solid whitesmoke;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 1.5rem;
    margin: 0;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    li {
        list-style: none;
        margin-bottom: 1rem;
        width: 100%;
        button {
            width: 100%;
        }
    }
    li:last-child {
        margin-bottom: 0;
    }
}   
header {
    .nav-spacer {
        flex: 1 1 auto;
    }
    
}


.page-container {
    width: 90%;
    margin: 0 auto;
}
h2, h3 {
    text-align: center;
}
h2 {
    margin: 2.5rem auto;
}
h3 {
    margin: 1.5rem auto;
}

.team-generator-form {
    text-transform: capitalize;
    margin-top: 2rem;
}


.form-buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 2rem auto;
    width: 75%;
    height: 10rem;
    button {
        height: 3rem;
        cursor: pointer;
    }
    .load-data-buttons {
        display: flex;
        button {
            flex: 1;
        }
    }
}

.save-buttons {
    // bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    button {
        cursor: pointer;
        height: 40px;
        margin: 10px;
        border-radius: 5px;
    }
}


.display-container {
    h2 {
        text-align: center;
    }

    table {
        margin-bottom: 5rem;
    }
    .position-table {
        margin: 2rem auto;
        .positions {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
            // border: 1px solid black;
            li {
                display: flex;
                flex-flow: column;
                // padding: 0.25rem;
                // margin: 1rem;
                width: 3rem;
                // border: 1px solid black;
                border-right: none;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    border: 1px solid black; 
                }
            }
        }
    }
}

.player-table {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    width: 100%;
    .player-row {
        td {
            text-transform: capitalize;
            padding: 0.2rem;
            div {
                display: inline-flex;
                align-items: center;   
            }
            div > * {
                margin: 0.2rem;
            }
            img {
                max-width: 1.75rem;
                // margin: 0.2rem;
            }
        }
    }
}

.tactics-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    @media screen and (min-width: 800px) {
        flex-flow: row;
    }   
    .lineup-container {
        flex: 1;
        font-size: clamp(0.5rem, 2.5vw, 1rem);
        h2{
            width: 100%;
            text-align: center;
        }
        @media screen and (min-width: 800px) {
            margin: 0 0 0 0.25rem;
            font-size: clamp(0.5rem, 1vw, 1rem);
            h2 {
                margin: 0 auto 1rem;
            }
        }   
        .bench-container,
        .starters-container {
            width: 100%;
            .row-container {
                display: table-row;
            }
            .player-row {
                cursor: grab;
                width: 100%;
            }
            .player-row:active {
                cursor: grabbing;
            }
        }
    }
    .pitch-container {
        background: #2D7D32;
        margin: 20px auto;
        height: 100vh;
        width: 100%;
        
        display: flex;
        align-items: center;
        @media screen and (min-width: 800px) {
            width: 75%;
            max-width: 60vw;
            margin: 0;
            position: sticky;
            top: 0;
        }
        .pitch-borders {
            position: relative;
            height: 95%;
            width: 95%;
            margin: 0.5rem auto;
            border: 1px solid white;
            z-index: 2;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            .pitch-divs {
                background-color: #2D7D32;
                border: 1px solid white;
            }
            .goal-box-bottom {
                z-index: 2;
                height: 7.5rem;
                width: 40%;
                border-bottom: none;
            }
            .goal-box-top {
                z-index: 2;
                height: 7.5rem;
                width: 40%;
                border-top: none;
            }
            .goal-box-circle-top {
                z-index: 1;
                position: absolute;
                width: 15%;
                height: 20%;
                border-radius: 0 0 150px 150px;
            }
            .goal-box-circle-bottom {
                z-index: 1;
                position: absolute;
                bottom: 0;
                width: 15%;
                height: 20%;
                border-radius: 150px 150px 0 0;
            }
            .half-line {
                position: absolute;
                border-bottom: none;
                bottom: 50%;
                width: 100%;
            }
            .pitch-dot {
                z-index: 2;
                position: absolute;
                bottom: 49.9%;
                height: 4px;
                width: 4px;
                border-radius: 50%;
                background-color: white;
            }
            .pitch-circle {
                position: absolute;
                bottom: 41.5%;
                height: 9rem;
                width: 9rem;
                border-radius: 50%;
            }
        }
        .pitch-grid{
            z-index: 3;
            position: absolute;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(7, 1fr);
            gap: 0.4rem;
            justify-items: center;
            align-items: center;
            padding: 0 0.5rem 0;
            
            .shirtIcon-img {
                height: 6vh;
                @media screen and (min-width: 800px) {
                    height: 8vh;
                }
            } 
        }
        
    }
}

.empty {
    visibility: hidden;
}

.active {
    display: flex;
    flex-flow: column;
}
.inactive {
    display: none;
}
.active.player-box {
    width: clamp(2.5rem, 8vw, 10rem);
    height: 9vh;
    max-width: 100%;
    max-height: 10.5rem;
    background: #a3a1a1;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: grab;
}
.active.pos-box {
    width: clamp(2.5rem, 7.5vw, 10rem);
    height: 9vh;
    max-width: 100%;
    max-height: 10.5rem;
    background: rgba(144, 238, 144, .25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.lineup-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: 
    "lineup th"
    "lineup player"
    ;
    background: #424242;
    color: white;
    border-radius: 4px;
    .players-container {
        background: #424242;
        color: white;
    }
    .lineup-headers {
        display: flex;
        justify-content: stretch;
        grid-area: th;
        margin: 0;
        font-weight: bold;
        height: 3rem;
        li {
            // border-bottom: 1px solid black;
            // border-right: 1px solid black;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            padding: 0.25rem;
        }
        :last-child {
            border-right: none;
        }
        .name-header {
            width: 10vw;
        }
    }
    .starters {
        grid-area: player;
    }
    .bench-container,
    .starters-container {
        text-transform: capitalize;
        border-bottom: none;
        .player-row {
            display: flex;
            margin: 0;
            height: 3rem;
            justify-content: flex-start;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                width: 25%;
                padding: 0.25rem;
                // border-right: 1px solid black;
                // border-bottom: 1px solid black;
            }
            :last-child {
                border-right: none;
            }
            .name-cell {
                width: 10vw;
            }
            .alt-positions {
                flex-flow: wrap;
            }
        }
    }
    
    .lineup-spots {
        margin: 0;
        display: flex;
        flex-flow: column;
        grid-area: lineup;
        ul {
            margin: 0;
        }
        ul:first-child {
            font-weight: bold;
            border-top: none;
        }
        ul:not(:first-child) {
            font-weight: 500;
        }
        ul li {
            padding: 0 0.5rem;
            height: 3rem;
            border-top: 1px solid rgba(242, 242, 242, 0.25);
            border-right: 1px solid rgba(242, 242, 242, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.expanded-info {
    display: flex;
    justify-content: space-between;
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    img {
        max-width: 2rem;
    }
        span {
            margin-left: 1rem;
        }
    }
}  
.nation-name-heading {
    text-transform: capitalize;
    // font-weight: bold;
}
// *** ANGULAR CDK DRAG & DROP classes ***
// Do not move cdk drag classes inside other classes
.cdk-drag-preview {
    box-sizing: border-box;
    color: #000000;
    background-color: #d7d5d5;
    border: 2px inset black;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12)
    ;
    padding: 1rem;
    width: 8vw;
    height: 10vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    .shirtIcon-img {
        height: 4vh;
    }
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder.lineup-drag-placeholder {
    height: 100%;
    width: 100%;
    background: rgb(160, 160, 160);
    color: #353535;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border: 2px dashed white;
}
.green-placeholder {
    border: ridge 2px rgb(0, 255, 0);
    border-radius: 5px;
}
.yellow-placeholder {
    border: ridge 2px rgb(255, 255, 0);
    border-radius: 5px;
}
.red-placeholder {
    border: ridge 2px rgb(255, 0, 0);
    border-radius: 5px;
}

.cdk-drag-placeholder.pitch-placeholder {
    height: 100%;
    width: 100%;
    
}

.cdk-drop-list-dragging {
    cursor: grabbing;
}

//  *** ANGULAR MATERIAL classes ***
// Do not move MATERIAL classes inside other classes

.mat-optgroup {
    text-transform: capitalize;
}
.mat-option.nation-option {
    color: black;
    text-transform: capitalize;
    img {
        width: 2rem;
    }
}
.mat-list-base {
    background-color: #3F51B5;
}
.mat-list-base.list .mat-list-item {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    color: white;
}
.mat-expansion-panel, 
.mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0;
    box-sizing: border-box;
    // cursor: grab;
    // pointer-events: none;
}
.mat-expansion-panel-header {
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    height: 3rem;
    padding: 0 0.5rem;
    cursor: grab;
}
.mat-expansion-panel-spacing {
    margin: 0;
}
.bench-container .mat-expansion-panel,
.starters-container .mat-expansion-panel {
    background: #424242;
    color: white;
}
@media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
        background: #424242;
    }
}
.bench-container .mat-expansion-panel-header span.mat-expansion-indicator::after,
.starters-container .mat-expansion-panel-header span.mat-expansion-indicator::after{
    color: #c8c8c8;
}

.expanded-info:first-of-type {
  margin-top: 16px;
}
