<header>
    <mat-toolbar color="primary">
        <span>National team generator</span> 
        <span class="nav-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navToggle = !navToggle" >
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-nav-list class="primaryColorBG list" role="list" *ngIf="navToggle">
        <a mat-list-item href="#full_roster_heading" class="nav-item">Go to Full Roster</a>
    </mat-nav-list>
</header>
<div class="page-container">
    
    <mat-form-field class="team-generator-form">
        <mat-label>-- Choose a Nation --</mat-label>  
        <mat-select appearance="fill" [(value)]="nationName" class="select-nations" (click)="consoleLog(nationName)">
            <mat-optgroup *ngFor="let tierGroup of this.nations" [label]="tierGroup.tier">
                <mat-option [value]="tierGroup.tier" class="nation-option">
                    Random Nationalities
                </mat-option>
                <mat-option *ngFor="let nation of tierGroup.nations" [value]="nation.name" class="nation-option">
                    <img [src]="nation.logo" alt=""> {{nation.name}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <div class="form-buttons">
        <button mat-raised-button color="primary" class="generate" type="button" (click)="getPlayers()">Generate</button>
        <div class="load-data-buttons">
            <button mat-raised-button color="primary" class="load-button" type="button" (click)="saveDataOverlay()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Load</button>
            <button mat-raised-button color="warn" *ngIf="overlayOpen === true" type="button" (click)="closeSaveDataOverlay()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Close Overlay</button>
        </div>
    </div>
    <div class="save-buttons" *ngIf="players.length > 0">
        <button class="save-button" type="button" (click)="savePlayers('firestore')" mat-raised-button color="primary">Save to Firestore</button>
        <button class="save-button" type="button" (click)="savePlayers('localStorage')" mat-raised-button color="primary">Save to Local Storage</button>
    </div>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="overlayOpen">
        <ul class="load-roster-overlay">
            <li>
                <button type="button" (click)="loadPlayers('loadLocalStorage')">Load from local storage</button>
            </li>
            <li>
                <button type="button" (click)="saveDataOverlay('check')">Check firestore database</button>
            </li>
            <ul>Save Data Ids:
                <li *ngFor="let data of savedData">
                    <button type="button" (click)="loadPlayers(data.id)">{{data.id}}</button>
                </li>
            </ul>
        </ul>
    </ng-template>
    <div class="tactics-container" cdkDropListGroup>
        <div class="pitch-container">
            <div class="pitch-borders">
                <div class="goal-box-top pitch-divs"></div>
                <div class="goal-box-circle-top pitch-divs"></div>
                <div class="pitch-dot pitch-divs"></div>
                <div class="pitch-circle pitch-divs"></div>
                <div class="half-line pitch-divs"></div>
                <div class="goal-box-circle-bottom pitch-divs"></div>
                <div class="goal-box-bottom pitch-divs"></div>
                <div class="pitch-grid">
                    <div *ngFor="let box of positionBoxes" [class]="getPositionBoxes(box)" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="pitchPlayers">
                        <div [class]="getPlayerClass(box)" cdkDrag>
                            <!-- <div *cdkDragPreview>
                                <img class="shirtIcon-img" [src]="shirtIcon" [alt]="">
                                <div class="player-preview">{{pitchPlayers[23].lastName}} {{pitchPlayers[23].position}} {{pitchPlayers[23].rating}}</div>
                            </div> -->
                            {{box.html}}
                        </div>
                        <div [class]="getPosBoxClass(box)">
                            <!-- {{box.class}} -->
                            <!-- <div [class]="getPosPlaceholder(box)" *cdkDragPlaceholder>Placeholder</div> -->
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
        <div class="lineup-container">
            <h2>Roster</h2>
            <!-- GRID VERSION -->
            <div class="lineup-grid">
                <ul class="lineup-headers">
                    <li class="name-header">Name</li>
                    <li>Position</li>
                    <li>Age</li>
                    <li>Rating</li>
                </ul>
                <div class="lineup-spots">
                    <ul class="pitch-players">
                        <li class="header">Roster</li>
                        <li *ngFor="let pos of pitchPlayers">{{pos.pitchPosition}}</li>
                    </ul>
                    <ul class="bench">
                        <li>Sub 1</li>
                        <li>Sub 2</li>
                        <li>Sub 3</li>
                        <li>Sub 4</li>
                        <li>Sub 5</li>
                        <li>Sub 6</li>
                        <li>Sub 7</li>
                    </ul>
                    <ul class="reserves">
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                        <li>32</li>
                        <li>33</li>
                        <li>34</li>
                        <li>35</li>
                        <li>36</li>
                        <li>37</li>
                        <li>38</li>
                        <li>39</li>
                        <li>40</li>
                        <li>41</li>
                        <li>42</li>
                        <li>43</li>
                        <li>44</li>
                        <li>45</li>
                        <li>46</li>
                        <li>47</li>
                        <li>48</li>
                        <li>49</li>
                        <li>50</li>
                        <li>51</li>
                        <li>52</li>
                        <li>53</li>
                        <li>54</li>
                        <li>55</li>
                        <li>56</li>
                        <li>57</li>
                        <li>58</li>
                        <li>59</li>
                        <li>60</li>
                        <li>60</li>
                        <li>61</li>
                        <li>62</li>
                        <li>63</li>
                        <li>64</li>
                        <li>65</li>
                        <li>66</li>
                        <li>67</li>
                        <li>68</li>
                        <li>69</li>
                        <li>70</li>
                    </ul>
                </div>
                <div class="players-container">
                    <mat-accordion multi>
                        <div class="starters-container">
                            <mat-expansion-panel *ngFor="let player of pitchPlayers">
                                <mat-expansion-panel-header [class]="getPlayerClass()">
                                    <ul class="player-row">
                                        <li class="name-cell">{{player.firstInitial}}. {{player.lastName}}</li>
                                        <li>{{player.position}}</li>
                                        <li>{{player.age}}</li>
                                        <li>{{player.rating}}</li>
                                        <li *cdkDragPreview>
                                            <img class="shirtIcon-img" [src]="shirtIcon" [alt]="">
                                            <div class="player-preview">{{player.lastName}} {{player.position}} {{player.rating}}</div>
                                        </li>
                                    </ul>
                                </mat-expansion-panel-header>
                                <p class="expanded-info">
                                    <span>Full Name:</span><span>{{player.firstName}} {{player.lastName}}</span>
                                </p>
                                <p class="expanded-info">
                                    <span>Other Positions:</span><span *ngFor="let pos of player.altPositions">{{pos}}</span>
                                </p>
                                <p class="expanded-info">
                                    <span>Club:</span>
                                    <span>
                                        <img [src]="player.clubLogo" [alt]="player.club">
                                        <span>{{player.club}}</span>
                                    </span>
                                </p>
                                <p class="expanded-info">
                                    <span>Nationality:</span>
                                    <span>
                                        <img [src]="player.nationalityLogo" alt="">
                                        <span>{{player.nationality}}</span>
                                    </span>
                    
                                </p>
                                <p class="expanded-info">
                                    <span>Preferred Foot:</span><span>{{player.foot}}</span>
                                </p>
                                
                            </mat-expansion-panel>
                        </div>
                        <div class="bench-container" cdkDropList id="bench-players" [cdkDropListData]="players" (cdkDropListDropped)="drop($event)" >
                            <mat-expansion-panel *ngFor="let player of players" cdkDrag [cdkDragData]="player" (cdkDragStarted)="getPositionOutline($event)" (cdkDragReleased)="removeOutlineRelease($event)" (cdkDragDropped)="removeOutlineDrop($event)">
                                <mat-expansion-panel-header>
                                    <ul class="player-row">
                                        <li class="name-cell">{{player.firstInitial}}. {{player.lastName}}</li>
                                        <li>{{player.position}}</li>
                                        <li>{{player.age}}</li>
                                        <li>{{player.rating}}</li>
                                        <li *cdkDragPreview>
                                            <img class="shirtIcon-img" [src]="shirtIcon" [alt]="">
                                            <div class="player-preview">{{player.lastName}} {{player.position}} {{player.rating}}</div>
                                        </li>
                                    </ul>
                                </mat-expansion-panel-header>
                                    <p class="expanded-info">
                                        <span>Full Name:</span><span>{{player.firstName}} {{player.lastName}}</span>
                                    </p>
                                    <p class="expanded-info">
                                        <span>Other Positions:</span><span *ngFor="let pos of player.altPositions">{{pos}}</span>
                                    </p>
                                    <p class="expanded-info">
                                        <span>Club:</span>
                                        <span>
                                            <img [src]="player.clubLogo" [alt]="player.club">
                                            <span>{{player.club}}</span>
                                        </span>
                                    </p>
                                    <p class="expanded-info">
                                        <span>Nationality:</span>
                                        <span>
                                            <img [src]="player.nationalityLogo" alt="">
                                            <span>{{player.nationality}}</span>
                                        </span>
                                    </p>
                                    <p class="expanded-info">
                                        <span>Preferred Foot:</span><span>{{player.foot}}</span>
                                    </p> 
                                    <div class="lineup-drag-placeholder" *cdkDragPlaceholder>{{player.firstInitial}}. {{player.lastName}} {{player.rating}} {{player.position}}</div>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>       
                </div> 
            </div>
        </div>
    </div>
    <div class="display-container" *ngIf="players.length > 0"> 
        <h2 id="full_roster_heading">Full Roster</h2>
        <div class="position-table">
            <h3>Position Breakdown</h3>
            <ul class="positions">
                <li *ngFor="let pos of positions"><span>{{pos.position}}</span><span>{{pos.amount}}</span></li>
            </ul>
        </div> 
        <h3>Player Table</h3>
        <table class="player-table" matSort (matSortChange)="sortData($event)">     
            <tr class="table-headings">
                <!-- <th>Index</th> -->
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="club">Club</th>
                <th mat-sort-header="pos">Position</th>
                <th mat-sort-header="altPositions">Other Positions</th>
                <th mat-sort-header="foot">Preferred Foot</th>
                <th mat-sort-header="rating">Rating</th>
                <th mat-sort-header="age">Age</th>
                <th mat-sort-header="nationality">Nationality</th>
            </tr> 
            <tbody> 
                <tr *ngFor="let player of sortedData" class="player-row">
                    <td>{{player.firstName}} {{player.lastName}}</td>
                    <td>
                        <div>
                            <img [src]="player.clubLogo" [alt]="player.club" class="club-logo">
                            <span>{{player.club}}</span>
                        </div>              
                    </td>
                    <td>{{player.position}}</td> 
                    <td class="alt-positions">
                        <div>
                            <span *ngFor="let pos of player.altPositions">{{pos}}</span>
                        </div>
                    </td>
                    <td>{{player.foot}}</td>
                    <td>{{player.rating}}</td>
                    <td>{{player.age}}</td>
                    <td>
                        <div>
                            <img [src]="player.nationalityLogo" alt="">
                            <span>{{player.nationality}}</span>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>

