@import 'variables.scss';

.stats {
  font-size: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;

  @media screen and (max-width: 600px) {
    flex-flow: column;
  }

  >div {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;

  }

  h4 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0 0 1.5rem;
  }

  >ul >h4 {
    padding-bottom: 1rem;
  }

  .nation-flag {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .awards {
    margin: 0 0 2rem;
    @media screen and (max-width: 450px) {
      flex: 1;
    }
  }

  .stat {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .rankings {
    display: flex;
    flex-flow: wrap;
    padding-left: 5rem;
    @media screen and (max-width: 450px) {
      padding-left: 0;
    }

    .heading {
      padding: 1rem 1rem 1rem 0;
      cursor: pointer;
    }

    details {
      flex: 1;
    }
  }
}
