@import 'variables.scss';

.dashboard {

  >ul {
    display: flex;
    justify-content: center;

    >li {
      flex: 1;

      a {
        display: flex;
        font-size: 2rem;
        padding: 2rem 0;
        justify-content: center;
        border-right: solid 2px white;

        @media screen and (max-width: 600px) {
          font-size: 1.3rem;
        }

        &.ripple {
          background-position: center;
          transition: background 0.8s;

          &:hover {
            background: $primary-darker radial-gradient(circle, transparent 1%, $primary-darker 1%) center/15000%;
          }

          &:active {
            background-color: $black;
            background-size: 100%;
            transition: background 0s;
          }

          &.active {
            background-color: $black;
          }
        }
      }
    }

    >li:last-child>a {
      border: none;
    }
  }
}
