@import 'variables.scss';

h1 {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.nation-flag {
  cursor: pointer;
}

.number-form {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;

  button {
    width: 10rem;
    align-self: center;
    margin: 1rem auto;

    @media screen and (max-width: 600px) {
      width: 80%;
      height: 3rem;
    }
  }

  .inputs {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 2rem 0;

    @media screen and (max-width: 600px) {
      * {
        width: 100%;
        height: 3rem;
      }

      input {
        touch-action: none;
      }
    }

    &>div {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .host-nation {
      text-transform: capitalize;

    }
  }
}

.group-stage {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 2rem;

  @media screen and (max-width: 1600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-flow: column;
    margin: 0;
  }

  .group-name {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 150%;
    font-family: 'aeonik-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
    color: black;
    border-radius: 5px;

    @media screen and (max-width: 600px) {
      border-radius: 0;
    }
  }

  .group {
    background-color: #4F4F4F;
    color: white;
    display: flex;
    flex-flow: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

    @media screen and (max-width: 600px) {
      margin: 15px 0;
      padding: 0;
      border-radius: 0;
      font-size: 80%;
    }

    table {
      padding: 0 5px;

      th {
        padding: 5px;

        &:first-child {
          text-align: left;
        }
      }

      tr {
        &.nation:last-child {
          border-bottom: none;
        }
      }

      .nation {
        text-transform: capitalize;

        td {
          text-align: center;
          padding: 5px;

          .nation-flag {
            width: 2.25rem;
            height: 1.5rem;
            display: flex;
          }

          &.name {
            font-family: 'aeonik-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }
        }
      }
    }



  }
}

.bracket {
  padding: 2rem 0;
  margin: 5rem auto;
  width: 100%;
  background: linear-gradient(to bottom, $secondary-light, $secondary);
  text-transform: capitalize;

  @media screen and (max-width: 1000px) {
    display: none;
  }

  .header-knockouts {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .stats {
      font-size: 1.5rem;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #d3d1d1e6;
      padding: 1.5rem;

      li {
        display: flex;
        margin-bottom: 10px;
      }

      .nation-flag {
        width: 2rem;
        height: 1.5rem;
        margin: 0 1rem;
      }
    }

    h1 {
      color: white;
      font-size: 4rem;
    }
  }

  .headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    font-size: 2.25rem;
    margin-top: 4rem;

    li {
      display: flex;
      justify-content: center;
      color: white;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(16, 3.5rem);
    margin: 0rem 2rem;
    font-size: 1.25rem;
    grid-gap: 1rem;

    .round {
      display: grid;
      grid-row: span 16;
      align-items: center;

      &:nth-child(2) {
        grid-column: 2;
      }

      &:nth-child(3) {
        grid-column: 3;
      }

      &:nth-child(4) {
        grid-column: 4;
        grid-row: 6 / 20;
        // > :first-child {
        //   border: 5px solid #f5cc38;
        // }
        // > :last-child {
        //   border: 5px solid #D86324;
        // }
      }

      .match {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin: 10px 5px;
        padding: 10px;
        border: 1px solid #1f1e1e;
        border-radius: 5px;
        background-color: #d3d1d1e6;
        height: 7rem;

        >div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          >div {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .nation-flag {
          width: 3rem;
          height: 2rem;
          margin-right: 1rem;
        }

        .winner {
          color: #7fe654;
          background-color: rgb(59, 58, 58);
          padding: 5px;
        }
      }
    }
  }
}


// .caf {
//   background: linear-gradient(45deg, #199e19bf, #ffff00bf);
//   @media screen and (max-width: 600px) {
//     background: #199e19bf;
//   }
// }

// .afc {
//   background: linear-gradient(to bottom right, #4848f480, #5649a080);
//   @media screen and (max-width: 600px) {
//     background: #5649a080;
//   }
// }

// .concacaf {
//   background: linear-gradient(to bottom right, #d8ba7dbf, #242529bf);
//   @media screen and (max-width: 600px) {
//     background: #d8ba7dbf;
//   }
// }

// .conmebol {
//   background: linear-gradient(to bottom right, #004c9ebf, #ffffffbf);
//   @media screen and (max-width: 600px) {
//     background: #004c9ebf;
//   }
// }

// .uefa {
//   background: linear-gradient(to bottom right, #005eb4bf, #da1b77bf);
//   @media screen and (max-width: 600px) {
//     background: #da1b77bf;
//   }
// }

// .ofc {
//   background: linear-gradient(to bottom right, #0693e3bf, #00d084bf);
//   @media screen and (max-width: 600px) {
//     background: #00d084bf;
//   }
// }
