<h1>Tournament Setup</h1>
<app-tournament-form></app-tournament-form>
<nav class="dashboard">
  <ul>
    <li>
      <a [routerLink]="'group-stage'" class="ripple" [routerLinkActive]="['active']">Groups</a>
    </li>
    <li>
      <a [routerLink]="'bracket'" class="ripple" [routerLinkActive]="['active']">Bracket</a>
    </li>
    <li>
      <a [routerLink]="'awards'" class="ripple" [routerLinkActive]="['active']">Rankings</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<app-nation-dialog *ngIf="selectedNation" [class]="selectedNation ? 'show' : ''" (click)="changeSelectedNation()"></app-nation-dialog>
