@import 'variables.scss';

h1 {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.nation-flag {
  cursor: pointer;
}

.number-form {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;

  button {
    width: 10rem;
    align-self: center;
    margin: 1rem auto;

    @media screen and (max-width: 600px) {
      width: 80%;
      height: 3rem;
    }
  }

  .inputs {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 2rem 0;

    @media screen and (max-width: 600px) {
      * {
        width: 100%;
        height: 3rem;
      }

      input {
        touch-action: none;
      }
    }

    &>div {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .host-nation {
      text-transform: capitalize;

    }
  }
}

.group-stage {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 2rem;

  @media screen and (max-width: 1600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-flow: column;
    margin: 0;
  }

  .group-name {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 150%;
    font-family: 'aeonik-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
    color: black;
    border-radius: 5px;

    @media screen and (max-width: 600px) {
      border-radius: 0;
    }
  }

  .group {
    background-color: #4F4F4F;
    color: white;
    display: flex;
    flex-flow: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

    @media screen and (max-width: 600px) {
      margin: 15px 0;
      padding: 0;
      border-radius: 0;
      font-size: 80%;
    }

    table {
      padding: 0 5px;

      th {
        padding: 5px;

        &:first-child {
          text-align: left;
        }
      }

      tr {
        &.nation:last-child {
          border-bottom: none;
        }
      }

      .nation {
        text-transform: capitalize;

        td {
          text-align: center;
          padding: 5px;

          .nation-flag {
            width: 2.25rem;
            height: 1.5rem;
            display: flex;
          }

          &.name {
            font-family: 'aeonik-bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            cursor: pointer;
          }
        }
      }
    }



  }
}

.header-knockouts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  margin-top: 5rem;

  @media screen and (max-width: 1200px) {
    display: block;
    margin: 0 2rem;
  }

  .stats {
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d3d1d1e6;
    padding: 1.5rem;

    li {
      margin-bottom: 10px;
    }

    .stat {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .nation-flag {
      width: 2rem;
      height: 1.5rem;
      margin: 0 1rem;
    }
  }

  h1 {
    font-size: 4rem;

    @media screen and (max-width: 1200px) {
      font-size: 2.5rem;
    }
  }
}

.bracket {
  padding: 2rem 0;
  margin: 5rem auto;
  width: 100%;
  background: linear-gradient(to bottom, $secondary-light, $secondary);
  text-transform: capitalize;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: auto;

  .headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    font-size: 2.25rem;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 100%);
      gap: 0;

    }

    li {
      display: flex;
      justify-content: center;
      color: white;

      @media screen and (max-width: 1200px) {
        margin: 0 2rem;

      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(16, 3.5rem);
    margin: 0rem 2rem;
    font-size: 1.25rem;
    gap: 1rem;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 100%);
      grid-template-rows: repeat(16, auto);
      gap: 0;
      margin: 0;
    }

    .round {
      display: grid;
      grid-row: span 16;
      align-items: center;
      scroll-snap-align: center;
      position: relative;



      @media screen and (max-width: 1200px) {
        grid-row: span 16;
      }

      &:nth-child(2) {
        grid-column: 2;

        @media screen and (max-width: 1200px) {
          grid-row: span 8;
        }
      }

      &:nth-child(3) {
        grid-column: 3;

        @media screen and (max-width: 1200px) {
          grid-row: span 4;
        }
      }

      &:nth-child(4) {
        grid-column: 4;
        grid-row: 6 / 20;

        @media screen and (max-width: 1200px) {
          grid-row: span 8;
        }
      }

      .match {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin: 10px 5px;
        padding: 10px;
        border: 1px solid #1f1e1e;
        border-radius: 5px;
        background-color: #d3d1d1e6;
        height: 7rem;

        @media screen and (max-width: 1200px) {
          margin: 1rem auto;
          min-width: 70%;
        }

        h3 {
          position: absolute;
          color: white;
          font-size: 2.5rem;
          display: flex;
          justify-content: center;
          width: 90%;

          @media screen and (max-width: 1200px) {
            width: 70%;
          }

          &.first {
            top: 10%;

            @media screen and (max-width: 1200px) {
              top: 0;
            }
          }

          &.second {
            top: 60%;

            @media screen and (max-width: 1200px) {
              top: 50%;
            }
          }
        }

        .loser {
          opacity: 0.5;
        }

        >div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .nation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
          }

          .score {
            max-width: 5.5rem;

            span:first-child {
              margin-right: 5px;
            }
          }
        }

        .nation-flag {
          width: 3rem;
          height: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
