<div class="stats">
  <ul *ngIf="tournament?.awards" class="awards">
    <h4>Awards</h4>
    <li *ngFor="let award of tournament?.awards; let i = index">
      <div *ngIf="award" class="stat" (click)="openNationStats(award)">
        {{ tournamentStats[i].emoji }}
        <img class="nation-flag" [src]="award.logo" [alt]="award.name" />
        <span>{{ award.name }}</span>
      </div>
    </li>
  </ul>
  <div *ngIf="tournament?.allTeams">
    <h4>World Rankings</h4>
    <div class="rankings">
      <details *ngFor="let list of rankings" [class]="list.class + '-rankings'" open="true">
        <summary class="heading">{{ list.heading }}</summary>
        <li *ngFor="let nation of list.nations" class="nation">
          <div *ngIf="nation" class="stat" (click)="openNationStats(nation)">
            <span>{{ list.prop === 'r' ? nation.ranking : getDisplayRating(get(nation, list.prop + 'ating', 0)) }}</span>
            <img class="nation-flag" [src]="nation.logo" [alt]="nation.name" />
            <span>{{ nation.abbreviation.toLocaleUpperCase() }}</span>
          </div>
        </li>
      </details>
    </div>
  </div>
</div>
