<div class="bracket" *ngIf="tournament?.bracket && tournament">
  <ul class="headings">
    <li>Round of 16</li>
    <li>Quarter Finals</li>
    <li>Semi Finals</li>
  </ul>
  <div class="grid">
    <div class="round" *ngFor="let round of tournament?.bracket | keyvalue: originalOrder">
      <div class="match" *ngFor="let match of round.value; let i = index">
        <h3 *ngIf="round.key === 'finals'" [class]="i === 0 ? 'first' : 'second'">
          {{ i === 0 ? 'Finals' : '3rd Place' }}
        </h3>
        <div [class]="match[2].loser.name === match[0].name ? 'loser' : ''">
          <div (click)="openNationStats(match[0])" class="nation">
            <span *ngIf="round.key === 'roundOf16'" class="group-finish">{{ match[0].groupFinish }}</span>
            <img class="nation-flag" [src]="match[0].logo" [alt]="match[0].name" />
            <span>
              {{ screenWidth < 600 ? match[0].abbreviation.toLocaleUpperCase() : match[0].name }}
              {{ screenWidth > 350 ? '[' + match[0].ranking + ']' : '' }}
            </span>
          </div>
          <div class="score">
            <span
              >{{ match[2].goalsFor }}
              {{
                match[2].penaltyWin && match[0].name === match[2].winner.name
                  ? '(P)'
                  : match[2].etWin && match[0].name === match[2].winner.name
                  ? '(AET)'
                  : ''
              }}</span
            >
            <span>{{ match[0].name === match[2].winner.name ? '◀' : '' }}</span>
          </div>
        </div>
        <div [class]="match[2].loser.name === match[1].name ? 'loser' : ''">
          <div (click)="openNationStats(match[1])" class="nation">
            <span *ngIf="round.key === 'roundOf16'" class="group-finish">{{ match[1].groupFinish }}</span>
            <img class="nation-flag" [src]="match[1].logo" [alt]="match[1].name" />
            <span>
              {{ screenWidth < 600 ? match[1].abbreviation.toLocaleUpperCase() : match[1].name }}
              {{ screenWidth > 350 ? '[' + match[1].ranking + ']' : '' }}
            </span>
          </div>
          <div class="score">
            <span
              >{{ match[2].goalsAg }}
              {{
                match[2].penaltyWin && match[1].name === match[2].winner.name
                  ? '(P)'
                  : match[2].etWin && match[1].name === match[2].winner.name
                  ? '(AET)'
                  : ''
              }}</span
            >
            <span>{{ match[1].name === match[2].winner.name ? '◀' : '' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
