/* You can add global styles to this file, and also import other style files */

// ANGULAR MATERIAL THEME
@import '~@angular/material/theming';

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

// GLOBAL STYLES

:root {
  --star-size: 1rem;
  --star-color: #fff;
  --star-background:#fc0;
  --starter-rating: 0%;
  --squad-rating: 0%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

button {
  cursor: pointer;
}

// CLASS OVERRIDES

input.login-overlay__input.login-overlay__input--override {
  margin: 0.5rem 1.5rem;
  width: auto;
}

// ANGULAR MATERIAL CLASSES *DO NOT TOUCH*

.mat-expansion-indicator::after {
  color: #c8c8c887;
}

.mat-list-base.list .mat-list-item .mat-list-item-content {
  justify-content: center;
  width: 100%;
}

.mat-list-base {
  background-color: #3F51B5;
}