<!-- Form -->
<form class="flex justify-center items-center flex-col sm:flex-row" [formGroup]="form">
  <label class="form-control w-full max-w-xs m-4">
    <div class="label">
      <span class="label-text">Pick the team region</span>
    </div>
    <select class="select select-bordered" formControlName="selectedRegion">
      <option [value]="region.regionAbbrev" *ngFor="let region of regions">{{ region.regionAbbrev }} - {{ region.leagueName }}</option>
    </select>
  </label>
  <button class="btn btn-secondary btn-wide sm:self-end sm:mb-4" (click)="resetPlayerOptions()">+ New</button>
</form>

<!-- PLAYER CHOICE TABLE -->

<div class="my-8 sm:mx-8 px-2 py-4 overflow-x-auto">
  <legend>Click a player to choose them</legend>
  <table class="table table-xs xl:table-md table-zebra">
    <thead class="uppercase">
      <tr>
        <th>name</th>
        <th>role <span *ngIf="screenWidth >= 640">/ top 3 champs</span></th>
        <th>play style <span *ngIf="screenWidth >= 640">/ top 3 attributes</span></th>
        <th>nation</th>
      </tr>
    </thead>
    <tr *ngFor="let player of playerOptions" class="cursor-pointer hover:bg-base-200" (click)="choosePlayer(player)">
      <td>
        <div class="flex items-center space-x-3">
          <div>
            <div class="text-sm sm:text-base">{{ player.gamerTag.name }}</div>
            <div class="text-xs sm:text-sm opacity-50 uppercase">{{ player.age }}</div>
            <app-star-rating [rating]="(player.currentRoleRating / 100) * 5"></app-star-rating>
          </div>
        </div>
      </td>
      <td>
        <div class="flex capitalize flex-col">
          <div class="mb-2">{{ player.mainRole }}</div>
          <div class="flex" *ngIf="screenWidth >= 640">
            <img
              class="h-6 w-6 object-cover drop-shadow-sm mx-1 rounded-full"
              [src]="champ.img"
              alt="champ.name"
              *ngFor="let champ of player.champMains" />
          </div>
        </div>
      </td>
      <td>
        <div class="capitalize">{{ player.gameStateStrength + ' ' + player.playStyle }}</div>
        <div class="text-xs opacity-50 uppercase flex flex-col" *ngIf="screenWidth >= 640">
          <span *ngFor="let attribute of getTopThreeAttributes(player)">
            {{ attribute }}
          </span>
        </div>
      </td>
      <td>
        <div>
          <img [src]="player.nationality.logo" [alt]="player.nationality.name" class="h-6 w-8 object-cover mx-2 drop-shadow-lg" />
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- LINEUP TABLE -->

<div class="my-8 sm:mx-8 px-2 py-4 overflow-x-auto">
  <legend>Lineup</legend>
  <table class="table table-xs table-zebra">
    <thead class="uppercase">
      <tr>
        <th>position</th>
        <th>name / age / rating</th>
        <th>role <span *ngIf="screenWidth >= 640">/ top 3 champs</span></th>
        <th>play style <span *ngIf="screenWidth >= 640">/ top 3 attributes</span></th>
        <th>nation</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let player of selectedPlayers; let i = index" class="hover:bg-base-200">
      <th>
        <img [src]="positions[i].url" [alt]="positions[i].name" class="h-10 w-10 object-cover mx-2 drop-shadow-lg" />
      </th>
      <td>
        <div class="flex items-center space-x-3">
          <div>
            <div class="text-sm sm:text-base">{{ player.gamerTag.name }}</div>
            <div class="text-xs sm:text-sm opacity-50 uppercase">{{ player.age }}</div>
            <app-star-rating [rating]="(player.currentRoleRating / 100) * 5"></app-star-rating>
          </div>
        </div>
      </td>
      <td>
        <div class="flex capitalize">
          <div class="mr-2 w-20" [class.text-red-500]="player.currentRole && player.currentRole !== player.mainRole">
            {{ player.mainRole }}
          </div>
          <div class="flex" *ngIf="screenWidth >= 640">
            <img
              class="h-6 w-6 object-cover drop-shadow-sm mx-1 rounded-full"
              [src]="champ.img"
              alt="champ.name"
              *ngFor="let champ of player.champMains" />
          </div>
        </div>
      </td>
      <td>
        <div class="capitalize">{{ player.gameStateStrength + ' ' + player.playStyle }}</div>
        <div class="text-xs opacity-50 uppercase flex flex-col" *ngIf="screenWidth >= 640">
          <span *ngFor="let attribute of getTopThreeAttributes(player)">
            {{ attribute }}
          </span>
        </div>
      </td>
      <td>
        <div>
          <img [src]="player.nationality.logo" [alt]="player.nationality.name" class="h-6 w-8 object-cover mx-2 drop-shadow-lg" />
        </div>
      </td>
    </tr>
  </table>
</div>
